.game{
	position: relative;
	transition: 1s;
	opacity: 0;
	margin: 30px;
}
.game--visible{
	opacity: 1;
}


.playground{
	height: 300px;
	border-collapse: collapse; 
	cursor: pointer;
	background: rgba(255, 255, 255, 1);
	transition: .5s;
}
.playground--disable{
	background: rgba(100, 100, 100, 0.2); 
	cursor: default;
}

.playground__cell{
	width: 100px;
	height: 100px;
	text-align: center;
	font-size: 40px;
	border: 1px solid;
	box-sizing: border-box;
	opacity: 1;
	transition: 1s;
}

.playground__cell--empty{
	opacity: 0
}

.playground__cell--bigRed{
	font-size: 80px;
	color: red;
	animation: shake .5s ease-in-out 0s infinite alternate;
}

.playground__cell--bigRed-1{
	animation-delay: .2s
}
.playground__cell--bigRed-2{
	animation-delay: .4s
}

@keyframes shake{
	from{
		transform: rotate(0deg);
	}

	50%{
		transform: rotate(-30deg);
	}

	to{
		transform: rotate(30deg);
	}
}


.playground__popup{
	position: absolute;
	width: 300px;
	height: 300px;
	opacity: 0;
	transition: 1s;
	background: white;
	border:1px solid;
	z-index: 0;

	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.playground__popup--visible{
	opacity: 1;
	z-index: 1;
}

.playground__popup--win{
	background: #82b21e;
}
.playground__popup--fail{
	background: #ea8168;
}
.playground__popup--draw{
	background: #f8e2c3;
}

.playground__restartBtn{
	opacity: 0;
	width:300px;
	height: 30px;
	line-height: 30px;
	cursor:pointer;
	margin: 0 auto;
	border: 1px dashed;
	box-sizing: border-box;
	outline: none;
	transition: 1s .5s;
	display: none;
	position: absolute;
	bottom: -34px
}
.playground__restartBtn--visible{
	opacity: 1;
	display: block;
}

.game-params{
	position: absolute;
	width:300px;
	bottom: -50px;
	height: 30px;
	line-height: 30px;
	padding: 0px 5px;
	box-sizing: border-box;
	user-select: none;
}
.game-params--hidden{
	opacity: 0;
}

.game-params__turn{
	position: absolute;
	width: 100px;
	text-align: center;
	right: 0px;
	transition: .5s;
	border-left: 1px solid lightgrey;
}

.game-params__turn--my{
	background: #82b21e;
}
.game-params__turn--enemy{
	background: #ea8168;
}

.game-params__sign{
	font-weight: bolder;
}


